@model IEnumerable<Practicatress.Models.Usuario>


@{
    ViewData["Title"] = "Lista de usuarios";
}
<h1>@ViewData["Title"]</h1>
<div class="container">
    <h1>@ViewData["Message"]</h1>
    <div class="row">
        <div class="col">
            <div id="products" class="mb-3">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-4">
                            <div class="card mb-3">

                                <div class="card-body">
                                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>

                                    <p class="card-text">Numero de registro@Html.DisplayFor(modelItem => item.Id)</p>
                                    <p class="card-text">Tipo de cuenta@Html.DisplayFor(modelItem => item.Job)</p>
                                    <p class="card-text">Correo electronico @Html.DisplayFor(modelItem => item.Celular)</p>
                                    <p class="card-text">Saldo incial@Html.DisplayFor(modelItem =>
                                        item.Saldoinicial)</p>





                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>